<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.siddharth.ilikememes">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/png"
        android:label="@string/app_name"
        android:roundIcon="@drawable/png"
        android:supportsRtl="true"
        android:theme="@style/Theme.ILikeMemes">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>